<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("ExtraHeaders", false)
</head>
<body>
    <div id="header">
        <a href="@Href("~/Post/Index/")">My blog</a>
    </div>
    <div class="container body-content">
        <div id="separator"></div>
        <div id="sidebar">
            <img id="portrait" src="@Href("~/Content/Images/portret.jpg")" alt="Portrait"/>
            <div id="twitterHeader"><a href="http://www.twitter.com">Me on twitter</a></div>
        </div>
        @RenderBody()        
    </div>
    <div id="footer">
        <hr />
        &copy; @DateTime.Now.Year - This is my ASP.NET MVC blog
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
